.animation_delay_1 {
	animation-delay: 0.1s;
}

.animation_delay_2 {
	animation-delay: 0.2s;
}

.animation_delay_3 {
	animation-delay: 0.3s;
}

.animation_delay_4 {
	animation-delay: 0.4s;
}

.animation_delay_5 {
	animation-delay: 0.5s;
}

.animation_delay_6 {
	animation-delay: 0.6s;
}

.animation_delay_7 {
	animation-delay: 0.7s;
}

.animation_delay_8 {
	animation-delay: 0.8s;
}

.animation_delay_9 {
	animation-delay: 0.9s;
}

.animation_delay_10 {
	animation-delay: 9s;
}

.slide_in_up {
	animation-name: slideInUp;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}

.spinner_white {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border-top: transparent;
	border-left: transparent;
	margin: 0 auto;
	animation: spin 1.2s linear infinite;
}

.spinner_white_sm {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border-top: transparent;
	border-left: transparent;
	margin: 0 auto;
	animation: spin 1.2s linear infinite;
}

.hourglass {
	display: block;
	margin: 3em auto;
	width: 2em;
	height: 4em;
	animation-name: hourglass;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.outer {
	fill: #0b0b0b;
}

.middle {
	fill: #f5ecd5;
}

.hover_scale_down:hover,
.hover_scale_down:active {
	transform: scale(0.97);
	transition: all 0.4s linear;
}

.fade_in {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}

@keyframes hourglass {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		box-shadow:
			inset #0b0b0b 0 -0em 0 0,
			inset #f5ecd5 0 -2em 0 0,
			inset #0b0b0b 0 -4em 0 0;
	}
	80% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);

		box-shadow:
			inset #0b0b0b 0 -2em 0 0,
			inset #f5ecd5 0 -2em 0 0,
			inset #0b0b0b 0 -2em 0 0;
	}
	100% {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		box-shadow:
			inset #0b0b0b 0 -2em 0 0,
			inset #f5ecd5 0 -2em 0 0,
			inset #0b0b0b 0 -2em 0 0;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes slideInUp {
	0% {
		transform: translateY(30px);
	}

	100% {
		transform: translateY(0%);
	}
}
