@import url('./styles/components.css');
@import url('./styles/animation.css');

@import '@fontsource/suez-one';
@import '@fontsource/crete-round';
@import '@fontsource-variable/lexend-deca';
@import '@fontsource-variable/lexend';

@import 'tailwindcss';

@theme {
	--font-lexend-deca: 'Lexend Deca Variable', sans-serif;
	--font-lexend: 'Lexend Variable', sans-serif;
	--font-suez: 'Suez One', serif;
	--font-crete: 'Crete Round', serif;

	--color-brand-green: #1eb564;
	--color-brand-light: #f5ecd5;
	--color-brand-rose: #dcbec5;
	--color-brand-lime: #c2e08a;
	--color-brand-quit: #e4a89b;
	--color-brand-build: #8cbf80;
	--color-brand-folder: #ffa673;

	--height-100: 100px;

	--radius-5: 5px;
	--radius-10: 10px;

	--text-13: 13px;
}

* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Crete Round', serif;
}

label,
input {
	display: block;
}

input {
	font-family: 'Lexend Variable', sans-serif;
	font-weight: 300;
}

button {
	cursor: pointer;
}

.tiny-scrollbar::-webkit-scrollbar {
	width: 0.5em;
	opacity: 0;
}

.tiny-scrollbar {
	scrollbar-width: 0.5em;
}

.tiny-scrollbar::-webkit-scrollbar-track {
	background-color: #c1aca5;
	opacity: 0;
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
	background-color: #f7f6f6;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
